* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-900: #18181b;
  --white: #ffffff;
  --purple-700: #7e22ce;

  --body-font: "Roboto";
}

body {
  background: var(--zinc-900);
  color: var(--white);
  font-family: var(--body-font), "sans-serif";
  text-align: center;
}

button {
  cursor: pointer;
}

#container {
  margin-top: 100px;
  max-width: 400px;
  width: 80%;
  margin-inline: auto;
}

#container h1 {
  margin: 40px 0 10px 0;
  opacity: 0.9;
}

#container p {
  margin-bottom: 40px;
  opacity: 0.7;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input,
button {
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
}

.form button {
  background: var(--purple-700);
  color: var(--white);
  font-weight: bold;
  border: none;
  transition: 0.2s;
  outline-color: var(--purple-700);
}

.form button:hover {
  filter: brightness(0.9);
}
