* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-900: #18181b;
  --white: #ffffff;
  --purple-700: #7e22ce;

  --body-font: "Roboto";
}

body {
  background: url("./assets/itachi.jpg") no-repeat 25% 20%;
  color: var(--white);
  font-family: var(--body-font), "sans-serif";
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#container {
  margin-top: 100px;
  max-width: 400px;
  width: 80%;
  margin-inline: auto;
  text-align: center;
}

#container h1 {
  margin: 40px 0 10px 0;
  opacity: 0.9;
}

#container p {
  margin-bottom: 40px;
  opacity: 0.7;
}

#container a {
  color: var(--white);
  font-style: italic;
  transition: 0.2s;
}

#container a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input,
button {
  font-size: 20px;
  padding: 20px;
  border-radius: 4px;
}

.form button {
  background: var(--purple-700);
  color: var(--white);
  font-weight: bold;
  border: none;
  transition: 0.2s;
  outline-color: var(--purple-700);
}

.form button:hover {
  filter: brightness(0.9);
}

#box-response {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#box-response.show {
  animation: toggle 0.6s ease-in-out;
}

#box-response div span {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
}

@keyframes toggle {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
